@media screen and (max-device-width: 479px) {
    #home {
        height: 100%;
        position: relative;
    #arrow {
        width: 60px;
        height: 100px;
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 100%;
        transform: translateX(-50%) translateY(-100%);
    }
    .arrows {
        width: 60px;
        height: 75px;
        filter: brightness(0.75);
        transition: all.3s ease-in-out;
        transform: scale(.4);
        &:hover {
            filter: brightness(2);
        }
        & path {
            stroke: rgba(255, 255, 255, 0.808);
            fill: transparent;
            stroke-width: 5px;  
            animation: arrow 2s infinite;
            -webkit-animation: arrow 2s infinite;
            &.a1 {
                animation-delay:-1s;
                -webkit-animation-delay:-1s; /* Safari 和 Chrome */
            }
            &.a2 {
                animation-delay:-0.5s;
                -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
            }
            &.a3 { 
                animation-delay:0s;
                -webkit-animation-delay:0s; /* Safari 和 Chrome */
            }
        }
    }
      
    @keyframes arrow {
      0% {opacity:0}
      40% {opacity:1}
      80% {opacity:0}
      100% {opacity:0}
    }
      
    @-webkit-keyframes arrow /*Safari and Chrome*/ {
      0% {opacity:0}
      40% {opacity:1}
      80% {opacity:0}
      100% {opacity:0}
    }
    
    .header_slider {
        height: 100%;
        div {
            img {
                position: relative;
                right: 1%;
                width: 101.5%;
                height: 100%;
                margin-top: -2px;
            }
            .header_slider_div{
                height: 100vh;
                max-height: 270px;
                min-height: 160px;
                width: 800px;
                left: 50%;
                transform: translateX(-50%) translateY(-15%);;
                display: flex;
                flex-direction: column;
                position: absolute;
                z-index: 2;
                color: whitesmoke;
                text-align: center;
                margin: 0 auto;
                span, h1 {
                    position: relative;
                    top: 50%;
                }
                h1 {
                    font-size: 30px;
                    width: 100%;
                    font-family: "gothambold", sans-serif;
                }
                span {
                    font-size: 10px;
                    width: 30%;
                    margin: 0 auto;
                    letter-spacing: 4px;
                    font-family: "GothamBook", sans-serif;
                }
            }
        }
    }
    .slick-dots {
        position: absolute;
        left: 92%;
        top: 50%;
        width: auto;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        height: 70%;
        bottom: -25px;
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        text-align: center;
        padding: 0;
        margin: 0;
      }
}
}

@media screen and (min-device-width: 480px) and (max-device-width: 853px) {
    #home {
        height: 100%;
        position: relative;
    #arrow {
        width: 60px;
        height: 100px;
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 100%;
        transform: translateX(-50%) translateY(-100%);
    }
    .arrows {
        width: 60px;
        height: 75px;
        filter: brightness(0.75);
        transition: all.3s ease-in-out;
        transform: scale(.6);
        &:hover {
            filter: brightness(2);
        }
        & path {
            stroke: rgba(255, 255, 255, 0.808);
            fill: transparent;
            stroke-width: 5px;  
            animation: arrow 2s infinite;
            -webkit-animation: arrow 2s infinite;
            &.a1 {
                animation-delay:-1s;
                -webkit-animation-delay:-1s; /* Safari 和 Chrome */
            }
            &.a2 {
                animation-delay:-0.5s;
                -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
            }
            &.a3 { 
                animation-delay:0s;
                -webkit-animation-delay:0s; /* Safari 和 Chrome */
            }
        }
    }
      
    @keyframes arrow {
      0% {opacity:0}
      40% {opacity:1}
      80% {opacity:0}
      100% {opacity:0}
    }
      
    @-webkit-keyframes arrow /*Safari and Chrome*/ {
      0% {opacity:0}
      40% {opacity:1}
      80% {opacity:0}
      100% {opacity:0}
    }
    
    .header_slider {
        height: 100%;
        div {
            img {
                position: relative;
                right: 1%;
                width: 101.5%;
                height: 100%;
                margin-top: -2px;
            }
            .header_slider_div{
                height: 100vh;
                max-height: 350px;
                min-height: 270px;
                width: 800px;
                left: 50%;
                transform: translateX(-50%) translateY(-15%);;
                display: flex;
                flex-direction: column;
                position: absolute;
                z-index: 2;
                color: whitesmoke;
                text-align: center;
                margin: 0 auto;
                span, h1 {
                    position: relative;
                    top: 50%;
                }
                h1 {
                    font-size: 35px;
                    width: 100%;
                    font-family: "gothambold", sans-serif;
                }
                span {
                    font-size: 12px;
                    width: 80%;
                    margin: 0 auto;
                    letter-spacing: 4px;
                    font-family: "GothamBook", sans-serif;
                }
            }
        }
    }
}
    .slick-dots {
        position: absolute;
        left: 92%;
        top: 50%;
        width: auto;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        height: 70%;
        bottom: -25px;
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        text-align: center;
        padding: 0;
        margin: 0;
      }
}

@media screen and (min-device-width: 854px) and (max-device-width: 1151px) {
    #home {
        height: 100%;
        position: relative;
    #arrow {
        width: 60px;
        height: 100px;
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 100%;
        transform: translateX(-50%) translateY(-100%);
    }
    .arrows {
        width: 60px;
        height: 75px;
        filter: brightness(0.75);
        transition: all.3s ease-in-out;
        transform: scale(.7);
        &:hover {
            filter: brightness(2);
        }
        & path {
            stroke: rgba(255, 255, 255, 0.808);
            fill: transparent;
            stroke-width: 5px;  
            animation: arrow 2s infinite;
            -webkit-animation: arrow 2s infinite;
            &.a1 {
                animation-delay:-1s;
                -webkit-animation-delay:-1s; /* Safari 和 Chrome */
            }
            &.a2 {
                animation-delay:-0.5s;
                -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
            }
            &.a3 { 
                animation-delay:0s;
                -webkit-animation-delay:0s; /* Safari 和 Chrome */
            }
        }
    }
      
    @keyframes arrow {
      0% {opacity:0}
      40% {opacity:1}
      80% {opacity:0}
      100% {opacity:0}
    }
      
    @-webkit-keyframes arrow /*Safari and Chrome*/ {
      0% {opacity:0}
      40% {opacity:1}
      80% {opacity:0}
      100% {opacity:0}
    }
    
    .header_slider {
        height: 100%;
        div {
            img {
                position: relative;
                right: 1%;
                width: 101.5%;
                height: 100%;
                margin-top: -2px;
            }
            .header_slider_div{
                height: 100vh;
                max-height: 660px;
                min-height: 500px;
                width: 800px;
                left: 50%;
                transform: translateX(-50%) translateY(-15%);;
                display: flex;
                flex-direction: column;
                position: absolute;
                z-index: 2;
                color: whitesmoke;
                text-align: center;
                margin: 0 auto;
                span, h1 {
                    position: relative;
                    top: 50%;
                }
                h1 {
                    font-size: 60px;
                    width: 100%;
                    font-family: "gothambold", sans-serif;
                }
                span {
                    font-size: 18px;
                    width: 100%;
                    letter-spacing: 4px;
                    font-family: "GothamBook", sans-serif;
                }
            }
        }
    }
}
.slick-dotted.slick-slider {
    margin-bottom: none;
  }
  
  .slick-dots {
    position: absolute;
    left: 95%;
    top: 50%;
    width: auto;
    transform: translateY(-50%);
    height: 40%;
    bottom: -25px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  
  .slick-dots li button:before {
      position: absolute;
      top: 0;
      left: 0;
      content: "⚪";
      width: 20px;
      height: 20px;
      font-family: "slick";
      font-size: 20px;
      line-height: 20px;
      text-align: center;
      color: rgba(0, 0, 0, 0.747);
      opacity: .25;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transition: all ease-in-out .25s;
    }
    
    .slick-dots li.slick-active button:before {
      color: rgba(0, 0, 0, 0.904);
      content: "⚫";
      opacity: .75;
      transform: scale(1.35);
    }
}

@media screen and (min-device-width: 1152px) and (max-device-width: 1439px) {
    #home {
        height: 100%;
        position: relative;
    .arrows {
        width: 60px;
        height: 75px;
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 85%;
        text-align: center;
        filter: brightness(0.75);
        transition: all.3s ease-in-out;
        &:hover {
            filter: brightness(2);
        }
        & path {
            stroke: rgba(255, 255, 255, 0.808);
            fill: transparent;
            stroke-width: 5px;  
            animation: arrow 2s infinite;
            -webkit-animation: arrow 2s infinite;
            &.a1 {
                animation-delay:-1s;
                -webkit-animation-delay:-1s; /* Safari 和 Chrome */
            }
            &.a2 {
                animation-delay:-0.5s;
                -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
            }
            &.a3 { 
                animation-delay:0s;
                -webkit-animation-delay:0s; /* Safari 和 Chrome */
            }
        }
    }
      
    @keyframes arrow {
      0% {opacity:0}
      40% {opacity:1}
      80% {opacity:0}
      100% {opacity:0}
    }
      
    @-webkit-keyframes arrow /*Safari and Chrome*/ {
      0% {opacity:0}
      40% {opacity:1}
      80% {opacity:0}
      100% {opacity:0}
    }
    
    .header_slider {
        height: 100%;
        div {
            img {
                position: relative;
                right: 1%;
                width: 101.5%;
                height: 100%;
                margin-top: -2px;
            }
            .header_slider_div{
                height: 100vh;
                width: 66%;
                left: 50%;
                transform: translateX(-50%) translateY(-10%);;
                display: flex;
                flex-direction: column;
                position: absolute;
                z-index: 2;
                color: whitesmoke;
                text-align: center;
                margin: 0 auto;
                span, h1 {
                    position: relative;
                    top: 50%;
                }
                h1 {
                    font-size: 80px;
                    width: 100%;
                    font-family: "gothambold", sans-serif;
                }
                span {
                    font-size: 20px;
                    width: 100%;
                    letter-spacing: 4px;
                    font-family: "GothamBook", sans-serif;
                }
            }
        }
    }
}
.slick-dotted.slick-slider {
    margin-bottom: none;
  }
  
  .slick-dots {
    position: absolute;
    left: 95%;
    top: 50%;
    width: auto;
    transform: translateY(-50%);
    height: 40%;
    bottom: -25px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  
  .slick-dots li button:before {
      position: absolute;
      top: 0;
      left: 0;
      content: "⚪";
      width: 20px;
      height: 20px;
      font-family: "slick";
      font-size: 20px;
      line-height: 20px;
      text-align: center;
      color: rgba(0, 0, 0, 0.747);
      opacity: .25;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transition: all ease-in-out .25s;
    }
    
    .slick-dots li.slick-active button:before {
      color: rgba(0, 0, 0, 0.904);
      content: "⚫";
      opacity: .75;
      transform: scale(1.35);
    }
}

@media screen and (min-device-width: 1440px) and (max-device-width: 1679px) {
    #home {
        height: 40vh;
        min-height: 700px;
        max-height: 1350px;
        position: relative;

        .arrows {
            width: 60px;
            height: 75px;
            position: absolute;
            z-index: 1;
            left: 50%;
            top: 90vh;
            transform: translateX(-50%) translateY(-100%);
            filter: brightness(0.75);
            transition: all.3s ease-in-out;
            &:hover {
                filter: brightness(2);
            }
            & path {
                stroke: rgba(255, 255, 255, 0.808);
                fill: transparent;
                stroke-width: 5px;  
                animation: arrow 2s infinite;
                -webkit-animation: arrow 2s infinite;
                &.a1 {
                    animation-delay:-1s;
                    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
                }
                &.a2 {
                    animation-delay:-0.5s;
                    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
                }
                &.a3 { 
                    animation-delay:0s;
                    -webkit-animation-delay:0s; /* Safari 和 Chrome */
                }
            }
        }
      
    @keyframes arrow {
      0% {opacity:0}
      40% {opacity:1}
      80% {opacity:0}
      100% {opacity:0}
    }
      
    @-webkit-keyframes arrow /*Safari and Chrome*/ {
      0% {opacity:0}
      40% {opacity:1}
      80% {opacity:0}
      100% {opacity:0}
    }
    
    .header_slider {
        height: 100%;
        div {
            img {
                position: relative;
                right: 1%;
                width: 101.5%;
                height: 100%;
                margin-top: -2px;
            }
            .header_slider_div{
                height: 40vh;
                min-height: 850px;
                max-height: 1350px;
                width: 53%;
                left: 50%;
                transform: translateX(-50%) translateY(-10%);;
                display: flex;
                flex-direction: column;
                position: absolute;
                z-index: 2;
                color: whitesmoke;
                text-align: center;
                margin: 0 auto;
                span, h1 {
                    position: relative;
                    top: 50%;
                }
                h1 {
                    font-size: 80px;
                    width: 100%;
                    font-family: "gothambold", sans-serif;
                }
                span {
                    font-size: 20px;
                    width: 100%;
                    letter-spacing: 4px;
                    font-family: "GothamBook", sans-serif;
                }
            }
        }
    }
}
.slick-dotted.slick-slider {
    margin-bottom: none;
  }
  
  .slick-dots {
    position: absolute;
    left: 95%;
    top: 50%;
    width: auto;
    transform: translateY(-50%);
    height: 40%;
    bottom: -25px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  
  .slick-dots li button:before {
      position: absolute;
      top: 0;
      left: 0;
      content: "⚪";
      width: 20px;
      height: 20px;
      font-family: "slick";
      font-size: 20px;
      line-height: 20px;
      text-align: center;
      color: rgba(0, 0, 0, 0.747);
      opacity: .25;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transition: all ease-in-out .25s;
    }
    
    .slick-dots li.slick-active button:before {
      color: rgba(0, 0, 0, 0.904);
      content: "⚫";
      opacity: .75;
      transform: scale(1.35);
    }
}

@media screen and (min-device-width: 1680px) {
    #home {
        height: 95vh;
        min-height: 850px;
        max-height: 1350px;
        position: relative;

    .arrows {
        width: 60px;
        height: 75px;
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 90vh;
        transform: translateX(-50%) translateY(-100%);
        filter: brightness(0.75);
        transition: all.3s ease-in-out;
        &:hover {
            filter: brightness(2);
        }
        & path {
            stroke: rgba(255, 255, 255, 0.808);
            fill: transparent;
            stroke-width: 5px;  
            animation: arrow 2s infinite;
            -webkit-animation: arrow 2s infinite;
            &.a1 {
                animation-delay:-1s;
                -webkit-animation-delay:-1s; /* Safari 和 Chrome */
            }
            &.a2 {
                animation-delay:-0.5s;
                -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
            }
            &.a3 { 
                animation-delay:0s;
                -webkit-animation-delay:0s; /* Safari 和 Chrome */
            }
        }
    }
      
    @keyframes arrow {
      0% {opacity:0}
      40% {opacity:1}
      80% {opacity:0}
      100% {opacity:0}
    }
      
    @-webkit-keyframes arrow /*Safari and Chrome*/ {
      0% {opacity:0}
      40% {opacity:1}
      80% {opacity:0}
      100% {opacity:0}
    }
    
    .header_slider {
        height: 100%;
        div {
            img {
                position: relative;
                right: 1%;
                width: 101.5%;
                height: 100%;
                margin-top: -2px;
            }
            .header_slider_div{
                height: 95vh;
                min-height: 850px;
                max-height: 1350px;
                position: relative;
                width: 57%;
                left: 50%;
                transform: translateX(-50%) translateY(-13%);;
                display: flex;
                flex-direction: column;
                position: absolute;
                z-index: 2;
                color: whitesmoke;
                text-align: center;
                margin: 0 auto;
                span, h1 {
                    position: relative;
                    top: 50%;
                }
                h1 {
                    font-size: 100px;
                    width: 100%;
                    font-family: "gothambold", sans-serif;
                }
                span {
                    font-size: 30px;
                    width: 100%;
                    letter-spacing: 4px;
                    font-family: "GothamBook", sans-serif;
                }
            }
        }
    }
}
.slick-dotted.slick-slider {
    margin-bottom: none;
  }
  
  .slick-dots {
    position: absolute;
    left: 95%;
    top: 50%;
    width: auto;
    transform: translateY(-50%);
    height: 40%;
    bottom: -25px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  
  .slick-dots li button:before {
      position: absolute;
      top: 0;
      left: 0;
      content: "⚪";
      width: 20px;
      height: 20px;
      font-family: "slick";
      font-size: 30px;
      line-height: 20px;
      text-align: center;
      color: rgba(0, 0, 0, 0.747);
      opacity: .25;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transition: all ease-in-out .25s;
    }
    
    .slick-dots li.slick-active button:before {
      color: rgba(0, 0, 0, 0.904);
      content: "⚫";
      opacity: .75;
      transform: scale(1.35);
    }
}
