@font-face {
    font-family: "GothamBook";
    src: url("../fonts/GothamBook/GothamBook.woff") format("woff"),
            url("../fonts/GothamBook/GothamBook.ttf") format("ttf");
}

@font-face {
    font-family: "gothambold1";
    src: url("../fonts/gothambold/gothambold1.woff") format("woff"),
            url("../fonts/gothambold/gothambold1.ttf") format("ttf");
}

@font-face {
    font-family: "Gotham Medium Regular";
    src: url("../fonts/Gotham_Medium_Regular/gotham-medium-webfont.woff") format("woff"),
            url("../fonts/Gotham_Medium_Regular/gotham-medium-webfont.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

::-webkit-scrollbar {
    display: none;
}



nav {
    width: 100%;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(125, 92, 250, 0.6);
    min-height: 120px;
    color: white;
    align-items: center;
    .scrolled {
        background-color: rgba(125, 92, 250, 0.6);
        min-height: 80px;
    }
    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-left: 10%;
    }
    ul {
        display: flex;
        flex-direction: row;
        padding-inline-start: 0px;
        justify-content: space-evenly;
        width: 60%;
        li {
            list-style-type: none;
            margin-left: 3%; 
            margin-right: 3%;
            transition: all ease-in-out .25s;
            &:hover {
                transform: scale(1.33);
            }
            a {
                color: rgba(255, 255, 255, 0.829);
                font-size: 18px;
                text-decoration: none;
                &:hover {
                    color: white;
                }
                &:active {
                    color: white;
                }
            }
        }
    }
    .icons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 20%;
        img {
            height: 60px;
            padding: 15px;
            border: solid 2px rgba(255, 255, 255, 0.82);
            border-radius: 0%;
            transition: all ease-in-out .35s;
            &:hover {
                padding: 3px;
                border: solid 2px white;
                border-radius: 50%;
            }
        }
    }
}
  
.arrows {
    width: 60px;
    height: 75px;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 100vh;
    transform: translateX(-50%) translateY(-100%);
    & path {
        stroke: #ffffffd2;
        fill: transparent;
        stroke-width: 5px;  
        animation: arrow 2s infinite;
        -webkit-animation: arrow 2s infinite;
        &.a1 {
            animation-delay:-1s;
            -webkit-animation-delay:-1s; /* Safari 和 Chrome */
        }
        &.a2 {
            animation-delay:-0.5s;
            -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
        }
        &.a3 { 
            animation-delay:0s;
            -webkit-animation-delay:0s; /* Safari 和 Chrome */
        }
    }
}
  
@keyframes arrow {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}
  
@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
}

.header_slider {
    div {
        img {
            position: relative;
            right: 1%;
            width: 101.5%;
            height: 100%;
            margin-top: -2px;
        }
        & .header_slider_div{
            height: 100vh;
            width: 800px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            flex-direction: column;
            position: absolute;
            z-index: 2;
            color: whitesmoke;
            text-align: center;
            margin: 0 auto;
            & span, h1 {
                position: relative;
                top: 50%;
            }
            & h1 {
                font-size: 80px;
                width: 100%;
                font-family: "gothambold", sans-serif;
            }
            & span {
                font-size: 20px;
                width: 100%;
                letter-spacing: 4px;
                font-family: "GothamBook", sans-serif;
            }
        }
    }
}

#we_do {
    margin: 10% 0;
    hr {
        width: 15%;
        margin: 0 auto;
        margin-bottom: 5%;
    }
    h2 {
        width: 25%;
        margin: 0 auto;
        text-align: center;
        font-size: 44px;
        margin-bottom: 5%;
    }
    .sect_we-do.upper_we-do {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 15%;
        .left_sect {
            position: sticky;
            width: 50%;
            img {
                position: relative;
                right: 0%;
                width: 100%;
            }
            .left_sect.img {
                position: absolute;
                top: 15%;
                left: 10%;
                width: 100%;
            }
        }
        .text_sect.we_do.right_sect {
            width: 40%;
            margin: 2%;
            span {
                position: relative;
                top: 23%;
                color: #2c4058;
                font-family: "GothamBook", sans-serif;
                a {
                    width: 100%;
                    max-width: 190px;
                    height: 10%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: transparent;
                    border: 1px solid #2c4058;
                    font-family: "GothamBook", sans-serif;
                    text-transform: uppercase;
                    font-size: 14px;
                    color: #2c4058;
                    cursor: pointer;
                    transition: all .35s ease-in-out;
                    text-decoration: none;
                    &:hover {
                        background-color: #2c4058;
                        color: #ffffff;
                    }
                }
                p {
                    &:nth-child(1) {
                        font-size: 22px;
                        margin-bottom: 2%;
                    }
                    &:nth-child(2) {
                        font-size: 44px;
                        font-family: "gothambold1", sans-serif;
                        margin-bottom: 8%;
                    }
                    &:nth-child(3) {
                        font-size: 16px;
                        margin-bottom: 7%;
                    }
                    img {
                        display: inline;
                    }
                    &:nth-child(5) {
                        margin-top: 7%;
                        font-size: 16px;
                        font-style: italic;
                    }
                }
            }
            
        }
    }
    .sect_we-do.down_we-do {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        .right_sect {
            position: sticky;
            width: 50%;
            img {
                position: relative;
                left: 100%;
                transform: translateX(-100%);
                width: 100%;
            }
            .right_sect.img {
                position: absolute;
                top: 15%;
                right: 10%;
                width: 100%;
            }
        }
        .text_sect.we_do.left_sect {
            width: 40%;
            margin: 2%;
            span {
                position: relative;
                top: 23%;
                color: #2c4058;
                font-family: "GothamBook", sans-serif;
                a {
                    width: 100%;
                    max-width: 190px;
                    height: 10%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: transparent;
                    border: 1px solid #2c4058;
                    font-family: "GothamBook", sans-serif;
                    text-transform: uppercase;
                    font-size: 14px;
                    color: #2c4058;
                    cursor: pointer;
                    transition: all .35s ease-in-out;
                    text-decoration: none;
                    &:hover {
                        background-color: #2c4058;
                        color: #ffffff;
                    }
                }
                p {
                    &:nth-child(1) {
                        font-size: 22px;
                        margin-bottom: 2%;
                    }
                    &:nth-child(2) {
                        font-size: 44px;
                        font-family: "gothambold1", sans-serif;
                        margin-bottom: 8%;
                    }
                    &:nth-child(3) {
                        font-size: 16px;
                        margin-bottom: 7%;
                    }
                    img {
                        display: inline;
                    }
                    &:nth-child(5) {
                        margin-top: 7%;
                        font-size: 16px;
                        font-style: italic;
                    }
                }
            }
        }
    }
}

#news {
    background-image: url(../img/news/news_bg.jpg);
    min-height: 100vh;
    padding: 5% 10%;
    hr {
        width: 15%;
        margin-bottom: 5%;
    }
    h3 {
        text-align: center;
        font-size: 44px;
        color: whitesmoke;
        margin-bottom: 5%;
    }
    .slide {
        background-color: whitesmoke;
        margin: 0 15px;
        min-height: 480px;
        width: 30%;
        color: #2c4058;
        cursor: pointer;
        img :nth-child(1) {
            width: 100%;
        }
        .down_part_slider {
            padding: 5%;
            span {
                .title_slide {
                    font-family: "gothambold1", sans-serif;
                    font-size: 22px;
                    margin-bottom: 20px;
                }
                .text_slide {
                    font-family: "GothamBook", sans-serif;
                    font-size: 16px;
                    margin-bottom: 20px;
                    height: 13%;
                }
            }
            div {
                font-family: "GothamBook", sans-serif;
                display: flex;
                margin-top: 12%;
                position: relative;
                img {
                    margin-right: 5%;
                }
                p:nth-child(1) {
                    font-size: 16px;
                    margin-top: 5px;
                }
                p:nth-child(2) {
                    margin-top: 14px;
                    font-size: 14px;
                    color: #55b7ff;
                }
            }
        }

    }
}



.slick-dotted.slick-slider {
  margin-bottom: none;
}

.slick-dots {
  position: absolute;
  left: 95%;
  top: 45%;
  width: auto;
  transform: translateY(-50%);
  height: 40%;
  bottom: -25px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 0;
  margin: 0;
}

.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "⚪";
    width: 20px;
    height: 20px;
    font-family: "slick";
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: black;
    opacity: .25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all ease-in-out .25s;
  }
  
  .slick-dots li.slick-active button:before {
    color: black;
    content: "⚫";
    opacity: .75;
    transform: scale(1.35);
  }

.slider-news ul.slick-dots {
    display: flex;
    flex-direction: row;
    top: 55px;
    left: 0;
    position: relative;
    width: 30%;
    justify-content: space-evenly;
    margin: 0 auto;
    opacity: .9;
}

.slider-news ul.slick-dots li button:before {
    font-size: 15px;
}

.slider-news ul.slick-dots li.slick-active button:before {
    transform: scale(1.55);
    opacity: 1;
}

.slick-prev.slick-arrow {
    left: -50px;
}
  
.slick-next.slick-arrow {
    right: -50px;
}

.slick-prev:before, .slick-next:before {
    font-size: 35px;
}