@font-face {
    font-family: "GothamBook";
    src: url("../fonts/GothamBook/GothamBook.woff") format("woff"),
            url("../fonts/GothamBook/GothamBook.ttf") format("ttf");
}

@font-face {
    font-family: "gothambold1";
    src: url("../fonts/gothambold/gothambold1.woff") format("woff"),
            url("../fonts/gothambold/gothambold1.ttf") format("ttf");
}

@font-face {
    font-family: "Gotham Medium Regular";
    src: url("../fonts/Gotham_Medium_Regular/gotham-medium-webfont.woff") format("woff"),
            url("../fonts/Gotham_Medium_Regular/gotham-medium-webfont.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --min-height: 100px;
  }

* {
  line-height: 1.4;
}


@import "nav";
@import "header";
@import "we_do";
@import "news";
@import "gallery";
@import "contacts";
@import "footer";